http:
  middlewares:
    secure-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        browserXssFilter: true
        contentTypeNosniff: true
    rate-limit:
      rateLimit:
        average: 20
        burst: 30
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
  routers:
    http-to-https:
      rule: "HostRegexp(`{host:.+}`) && (PathPrefix(`/`) || PathPrefix(`/api`))"
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
      service: "noop@internal"
